<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<main>
		<h1 class="<%= status.type %>"> <%= header %></h1>
		<p class="<%= status.type %>"> <%= status.message %></p>
		<a href="/"><button>Menu</button></a>
	</main>
</body>
</html>