<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Query result</title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<main>
		<h1>Superhero Data</h1>
		
		<p>SuperHero id: <%= result.id %></p>
	    <p>Name: <%= result.name %></p>
	    <p>Strength: <%= result.strength %></p>
	    <p>Costume:<%= result.costume %></p>
		<p>YearOfBirth:<%= result.yearOfBirth %></p>

	    <a href="/"><button>Menu</button></a>

	</main>
</body>
</html>